@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" type="text/css" href="~/Content/About.css">
<link rel="stylesheet" type="text/css" href="~/Content/AboutHover.css">

<hr />
<h3>QUT Surfers Executive Team 2019</h3>
<hr />

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Briggite.JPG">
        <div class="user-info">
            <h2>Brigette Males</h2>
            <div class="bio-reveal">
                <p>President</p>
            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Torkil.JPG">
        <div class="user-info">
            <h2>Torkil Vante</h2>
            <div class="bio-reveal">
                <p>Vice-President</p>

            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Cat.JPG">
        <div class="user-info">
            <h2>Catherine Gallanagh</h2>
            <div class="bio-reveal">
                <p>Secretary</p>

            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Miriam.JPG">
        <div class="user-info">
            <h2>Miriam Aguero</h2>
            <div class="bio-reveal">
                <p>Treasurer</p>

            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Ida.JPG">
        <div class="user-info">
            <h2>Ida Stormyren</h2>
            <div class="bio-reveal">
                <p>Social Media Manager</p>

            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Grace.JPG">
        <div class="user-info">
            <h2>Grace Callaghan</h2>
            <div class="bio-reveal">
                <p>Communications Officer</p>

            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Erick.JPG">
        <div class="user-info">
            <h2>Erick Mejia</h2>
            <div class="bio-reveal">
                <p>Registrar</p>

            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <img class="user" src="~/Content/Images/ExecTeamPics/Jac.JPG">
        <div class="user-info">
            <h2>Jac Davies</h2>
            <div class="bio-reveal">
                <p>Surfers Manager</p>

            </div>
        </div>
    </div>
</div>

<div class="staff">
    <div class="user">
        <div class="user-info">
            <h2>Chris Smith</h2>
            <div class="bio-reveal">
                <p>Events Leader</p>

            </div>
        </div>
    </div>
</div>

<footer>
        
           
    <a href="https://www.facebook.com/qutsurf/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/qutsurfers/?hl=en" class="fa fa-instagram"></a>
    &copy; @DateTime.Now.Year - QUT SURFERS
                
       
</footer>