@{
    ViewBag.Title = "Contact";
}
<h2>QUT Surfers</h2>
<h3>Contact</h3>

<address>
    Level 5<br />
    2 George St<br />
    Brisbane City QLD 4000<br/>
    Australia<br/>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:qutsurfers@gmail.com">qutsurfers@gmail.com</a><br />
   
</address>

<footer>
        
           
    <a href="https://www.facebook.com/qutsurf/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/qutsurfers/?hl=en" class="fa fa-instagram"></a>
    &copy; @DateTime.Now.Year - QUT SURFERS
                
       
</footer>