@{
    ViewBag.Title = "Home Page";
}

<style>
.panel-default > .panel-heading-custom {
    background: #374660; color: #fff;
    text-align: center;
}
.panel-heading{
    padding: 10px 0px 25px 5px;
}
.peopleCarouselImg img {
  width: auto;
  height: 400px;
  max-height: 400px;
  align-content: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}



</style>


    <!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="active item peopleCarouselImg">
            <img class="first-slide" src="~/Content/Images/bannerV1.1.JPG" alt="First Slide">
        </div>

        <div class="item peopleCarouselImg">
            <img class="second-slide" src="~/Content/Images/banner4.JPG" alt="Second Slide">
        </div>
        <div class="item peopleCarouselImg">
            <img class="third-slide" src="~/Content/Images/banner3V1.1.JPG" alt="Third Slide">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><br>


<hr />
<h4 class="w3-justify"><strong>Learn to Surf at Byron Bay Trips</strong></h4><em>(Semester 01 - 2019)</em>

<hr />

<!--Events Section-->
<div class="container">    
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><i class="fa fa-ticket" style="font-size:24px;color:white"></i><strong> Byron Bay Trip 1</strong></div>

                <div class="panel-body"><img src="/Content/Images/ByronTripPics/byronTrip1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p><span class="glyphicon glyphicon-calendar"></span> Fri., 1 March 2019 - Sun., 3 March 2019</p>
      
                        @Html.ActionLink("MORE INFO", "ByronTrip1", "Events", null, new {@class = "btn btn-primary btn-md btn-block", style = "font-weight:bold;" })
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4"> 
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><i class="fa fa-ticket" style="font-size:24px;color:white"></i><strong> Byron Bay Trip 2</strong></div>

                <div class="panel-body"><img src="/Content/Images/ByronTripPics/byronTrip2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p><span class="glyphicon glyphicon-calendar"></span> Fri., 15 March 2019 - Sun., 17 March 2019</p>
                    @Html.ActionLink("MORE INFO", "ByronTrip2", "Events", null, new {@class = "btn btn-primary btn-md btn-block", style = "font-weight:bold;" })

                </div>
            </div>
        </div>
        <div class="col-sm-4"> 
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><i class="fa fa-ticket" style="font-size:24px;color:white"></i><strong> Byron Bay Trip 3</strong></div>
                <div class="panel-body"><img src="/Content/Images/ByronTripPics/byronTrip3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p><span class="glyphicon glyphicon-calendar"></span> Fri., 29 March 2019 - Sun., 31 March 2019</p>
                    @Html.ActionLink("MORE INFO", "ByronTrip3", "Events", null, new {@class = "btn btn-primary btn-md btn-block", style = "font-weight:bold;" })

                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<footer>
    <a href="https://www.facebook.com/qutsurf/" class="fa fa-facebook" target="_blank"></a>
    <a href="https://www.instagram.com/qutsurfers/?hl=en" class="fa fa-instagram" target="_blank"></a>
    &copy; @DateTime.Now.Year - QUT SURFERS
</footer>