@model IEnumerable<QUTSurfers.Models.Members>

@{
	ViewBag.Title = "MembersInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr/>
<h4>QUT Surfers Club Members Details</h4>
<hr/>

@if (!Model.Any())
{
	<p>We don't have any members yet.</p>
}
else
{
	<table id="members" class="table table-bordered table-hover">
		<thead>
		<tr>
		    <th>Student Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>International?</th>
			<th>Level of Surfing</th>
		    <th>Paid</th>
			<th>Validation</th>
		</tr>
		</thead>
		<tbody></tbody>

	</table>

	<div class="row">
		
	</div>
	<br/>
	
}



<script src="~/Scripts/QUTSurfersScripts/ExportMembersTable.js" type="text/javascript" language="javascript"></script>	
<script src="~/Scripts/QUTSurfersScripts/MembersDataTable.js" type="text/javascript" language="javascript"></script>	
<script src="~/Scripts/QUTSurfersScripts/date.format.js"></script>



